.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;

  text-decoration: none;
}

.copyright__text {
  color: @text-copyright;

  text-transform: uppercase;

  &:hover {
    color: @text-copyright-hover;
  }

  &:active {
    color: @text-copyright-active;
  }
}
