.main-footer {
  padding: 35px 40px;
  background-color: @bg-white;
}

.main-footer__copyright {
  margin-top: 40px;
}

.main-footer__tag-link {
  font-size: 21px;
  font-weight: 700;

  text-transform: uppercase;
  text-decoration: none;

  color: @bg-black;
}
