.main-header {
  .container();

  text-align: center;
  text-transform: uppercase;

  background-color: @bg-white;
}

.main-header__container {
  position: relative;
  box-sizing: border-box;

  padding: 30px 20px 35px;

  @media (min-width: @tablet-width) {
    max-width: 700px;

    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 60px;
    padding-bottom: 35px;
  }
}

.main-header__title {
  margin: 0;

  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.main-header__title br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-header__text {
  margin: 0;
  margin-top: 35px;

  @media (min-width: @tablet-width) {
    margin-top: 30px;
  }
}

.main-header__text br {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
