.modal {
  min-width: 320px;
  max-width: 400px;

  margin-top: 20px;

  background-color: @bg-white;
}

.modal__container {
  padding: 0 20px;

  text-align: center;
  text-transform: uppercase;
}

.modal__button {
  .button();

  width: 100%;

  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
}
