.navigation {
  position: relative;

  max-height: 56px;

  background-color: @bg-white;
}

.navigation__toggle {
  position: absolute;

  top: 15px;
  right: 20px;

  width: 23px;
  height: 23px;

  z-index: 500;

  padding: 0;
  border: 0;

  background-image: url("../img/icon-menu.png");
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;

  &--active {
    background-color: @bg-blue;
    background-image: url("../img/icon-cross.svg");
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}


.navigation__list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .list();

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  &--closed {
    display: none;
  }
}

.navigation__item {
  box-sizing: border-box;

  height: 55px;

  z-index: 2;

  text-align: center;

  @media (min-width: @tablet-width) {
    flex: 1 1 153px;

    border: 0;
    z-index: 1;

    &:nth-child(2) {
      margin-right: 153px;
    }
  }
}

.navigation__link {
  display: block;
  box-sizing: border-box;

  width: 100%;
  height: 100%;

  padding: 15px 0;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;

  color: @text-white;
  text-decoration: none;
  text-transform: uppercase;

  background-color: @bg-blue;

  &:hover {
    background-color: @bg-button-hover;
  }

  &:focus {
    color: rgba(255, 255, 255, 0.3);

    background-color: @bg-button-active;
  }

  &:disabled {
    background-color: @bg-button-disabled;
  }

  &--active {
    color: @text-black;
  }

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 1.4;

    padding: 18px 0;

    color: @text-black;

    background-color: @bg-white;

    &:hover {
      color: @text-copyright-hover;

      background-color: @bg-white;
    }

    &:focus {
      color: @text-copyright-active;
    }

    &--active {
      color: @text-brown;
    }
  }
}
