.page {
  font: 14px/1.5em "PT Sans", sans-serif;
  color: @text-grey;
  background: #e5e5e5;
}

.page__body {
  margin: 0 auto;
  // width: @phone_width;
  // text-align: center;

  // @media (min-width: @tablet-width) {
  //   width: @tablet-width;
  // }

  // @media (min-width: @desktop-width) {
  //   width: @desktop-width;
  // }
}
