.reasons {
  position: relative;

  .container();
  padding-top: 15px;

  text-transform: uppercase;

  background-color: @bg-white;

  @media (min-width: @tablet-width) {
    padding: 10px 0;
  }
}

.reasons__list {
  .list();

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.reasons__item {
  position: relative;

  width: 100%;
  height: auto;

  text-align: center;

  background: @bg-light;

  &--border:not(:last-child)::after {
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 20px;

    min-width: 280px;
    height: 1px;

    background-color: #d6d6d6;

    content: "";
  }

  @media (min-width: @tablet-width) {
    &--border::after {
      display: none;
    }

    min-height: 256px;
  }

  &--advice {
    text-align: left;

    background-color: @bg-white;

    @media (min-width: @tablet-width) {
      text-align: center;
    }
  }

  &--main {
    color: @text-white;

    background-color: @bg-blue;

    @media (min-width: @tablet-width) {
      grid-column: span 3;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.reasons__container {
  box-sizing: border-box;

  padding: 35px 20px 40px;

  &--advice {
    position: relative;
    padding-left: 65px;
  }

  @media (min-width: @tablet-width) {
    padding: 40px 38px 45px;

    &--advice {
      @media (min-width: @tablet-width) {
        padding-top: 158px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    padding: 45px 65px 55px;

    &--advice {
      @media (min-width: @tablet-width) {
        padding-top: 158px;
        padding-bottom: 80px;
      }
    }
  }
}

.reasons__image {
  min-width: 320px;
  height: auto;

  background-color: @bg-brown;

  &--reverse {
    @media (min-width: @tablet-width) {
      order: -1;
    }
  }

  @media (min-width: @tablet-width) {
    grid-column: span 2;
  }
}

.reasons__image img {
  .image();
}

.reasons__logo {
  position: absolute;
  top: 25px;
  left: 18px;

  width: 40px;
  height: auto;

  @media (min-width: @tablet-width) {
    width: 76px;

    left: 0;
    right: 0;
    margin: 35px auto;
  }
}

.reasons__logo svg {
  .image();

  fill: @icon-blue;
}

.reasons__title {
  margin: 0;

  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    margin: 0 15px;
    font-size: 21px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 45px;
  }
}

.reasons__number {
  margin: 0;
  margin-top: 10px;
}

.reasons__text {
  margin: 0;
  margin-top: 15px;

  @media (min-width: @tablet-width) {
    margin-top: 25px;
  }
}
