.review {
  .container();

  background-color: @bg-white;
}

.review__form {
  display: flex;
  flex-wrap: wrap;
}

.review__group {
  box-sizing: border-box;

  position: relative;

  width: 100%;

  margin: 0;
  padding: 0;
  border: 0;

  text-align: left;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 1px;

    background-color: @border-light;

    content: "";
  }

  @media (min-width: @tablet-width) {
    &::before {
      display: none;
    }

    &--user-data {
      flex: 1 1 50%;
    }

    &--user-data:first-child {
      border-right: 2px solid @border-light-grey;
    }
  }
}

.review__container {
  padding: 25px 20px 35px;

  @media (min-width: @tablet-width) {
    padding: 25px 60px 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 25px 120px 40px;
  }
}

.review__list {
  .list();

  margin-top: 15px;
}

.review__title {
  position: relative;

  max-width: 280px;
  margin: 0 auto;

  z-index: 1;

  font-size: 18px;
  line-height: 26px;

  text-align: center;
  text-transform: uppercase;

  background-color: @bg-white;
}

.review__line {
  position: relative;

  z-index: 2;

  @media (min-width: @tablet-width) {
    &::before {
      position: absolute;
      top: 50%;
      left: 0;

      width: 25%;
      height: 2px;

      background-color: @border-light-grey;

      content: "";
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 0;

      width: 25%;
      height: 2px;

      background-color: @border-light-grey;

      content: "";
    }
  }
}

// textarea
.review__textarea {
  box-sizing: border-box;

  display: block;

  width: 100%;
  max-width: 768px;
  min-height: 150px;

  margin: 20px auto 0;
  padding: 20px;

  border: 0;
  resize: none;
  outline: none;

  cursor: pointer;

  font-family: "PT Sans", sans-serif;

  font-size: 18px;
  font-weight: 700;

  color: rgba(0, 0, 0, 0.3);

  background-color: @bg-input;

  &:hover {
    background-color: @bg-input-hover;
  }

  &:focus {
    border: 4px @bordet-input-active solid;

    padding: 16px;

    background-color: @bg-input-active;
  }
}

.review__submit {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 768px;

  margin: 20px auto 10px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 10px;
    margin-bottom: 60px;
    padding: 0 60px;
  }
}

.review__button {
  .button();

  @media (min-width: @tablet-width) {
    flex: 1 1 50%;
  }

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.review__note {
  display: block;

  text-align: right;
  font-size: 12px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    flex: 1 1 50%;

    font-size: 14px;
  }
}
