.user-info {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.user-info__label {
  margin-left: 15px;

  text-transform: uppercase;
}

.user-info__item {
  position: relative;
}

.user-info__input {
  box-sizing: border-box;

  width: 100%;
  height: 58px;

  padding: 20px;
  border: 0;

  font: bold 18px/26px "PT Sans", sans-serif;

  outline: none;

  cursor: text;

  background-color: @bg-input;

  &[type="email"] {
    padding-right: 70px;
  }

  &:hover {
    background-color: @bg-input-hover;
  }

  &:hover::placeholder {
    color: @text-black;
  }

  &:focus {
    border: 4px @bordet-input-active solid;
    padding-left: 16px;

    background-color: @bg-input-active;
  }
}

.user-info__icon {
  position: absolute;
  right: 0;
  bottom: 0;

  display: block;

  height: 58px;
  width: 58px;

  background-color: @bg-dark-grey;
}

.user-info__icon svg {
  position: absolute;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  margin: auto;

  fill: @icon-black;
}
