.video {
  position: relative;

  .container();

  background-color: @bg-white;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    min-width: 320px;
    height: 1px;

    background-color: @border-light;

    content: "";
  }

  @media (min-width: @tablet-width) {
    &::before {
      display: none;
    }
  }
}

.video__container {
  box-sizing: border-box;

  padding: 25px 20px 0;

  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 35px 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 80px 200px;
  }
}

.video__title {
  margin: 0;

  font-size: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.video__description {
  margin: 35px 20px 0;

  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-left: 100px;
    margin-right: 100px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 175px;
    margin-right: 175px;
  }
}

.video__image {
  position: relative;

  width: 100%;
  height: auto;

  margin-top: 40px;

  @media (min-width: @tablet-width) {
    margin-top: 85px;
  }
}

.video__image img {
  .image();
}

.video__button {
  position: absolute;
  left: 0;
  top: 0;

  padding: 0;

  width: 100%;
  height: 100%;

  border: 0;
  cursor: pointer;
  outline: none;

  background-color: transparent;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;

    width: 48px;
    height: 54px;

    background-image: url("../img/play.svg");

    content: "";
  }
}
