.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  font: 14px/1.5em "PT Sans", sans-serif;
  color: #333333;
  background: #e5e5e5;
}
.page__body {
  margin: 0 auto;
}
.page__header {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  position: relative;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  z-index: 1;
}
.header__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 185px;
  height: 96px;
  z-index: 2;
}
.header__image {
  position: relative;
  height: 389px;
  background-image: url("../img/header/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #FFA06B;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .header__image {
    background-image: url("../img/header/back-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .header__image {
    height: 518px;
    background-image: url("../img/header/back-tablet.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .header__image {
    background-image: url("../img/header/back-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .header__image {
    background-image: url("../img/header/back-desktop.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .header__image {
    background-image: url("../img/header/back-desktop@2x.jpg");
  }
}
.header__image--small {
  height: 158px;
  background-position: bottom;
}
@media (min-width: 768px) {
  .header__image--small {
    height: 290px;
  }
}
@media (min-width: 1200px) {
  .header__image--small {
    height: 300px;
  }
}
.header__image img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: auto;
}
@media (min-width: 768px) {
  .header__image img {
    width: 460px;
  }
}
.reasons {
  position: relative;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 15px;
  text-transform: uppercase;
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  .reasons {
    padding: 10px 0;
  }
}
.reasons__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .reasons__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.reasons__item {
  position: relative;
  text-align: center;
  background: #EEEEEE;
}
.reasons__item--border:not(:last-child)::after {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  min-width: 280px;
  height: 1px;
  background-color: #d6d6d6;
  content: "";
}
@media (min-width: 768px) {
  .reasons__item {
    min-height: 256px;
  }
  .reasons__item--border::after {
    display: none;
  }
}
.reasons__item--advice {
  text-align: left;
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  .reasons__item--advice {
    text-align: center;
  }
}
.reasons__item--main {
  color: #FFFFFF;
  background-color: #81B3D2;
}
@media (min-width: 768px) {
  .reasons__item--main {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.reasons__container {
  box-sizing: border-box;
  padding: 35px 20px 40px;
}
.reasons__container--advice {
  position: relative;
  padding-left: 65px;
}
@media (min-width: 768px) {
  .reasons__container {
    padding: 40px 35px 45px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .reasons__container--advice {
    padding-top: 158px;
  }
}
@media (min-width: 1200px) {
  .reasons__container {
    padding: 45px 65px 55px;
  }
}
@media (min-width: 1200px) and (min-width: 768px) {
  .reasons__container--advice {
    padding-top: 158px;
    padding-bottom: 80px;
  }
}
.reasons__image {
  min-width: 320px;
  height: 260px;
  background-color: #FFA06B;
}
@media (min-width: 768px) {
  .reasons__image {
    grid-column: span 2;
    height: auto;
  }
}
.reasons__image img {
  vertical-align: middle;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reasons__logo {
  position: absolute;
  top: 25px;
  left: 18px;
  width: 40px;
  height: auto;
}
@media (min-width: 768px) {
  .reasons__logo {
    width: 76px;
    left: 0;
    right: 0;
    margin: 30px auto;
  }
}
.reasons__logo svg {
  vertical-align: middle;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  fill: #81B3D2;
}
.reasons__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .reasons__title {
    margin: 0 15px;
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .reasons__title {
    padding: 0 60px;
  }
}
.reasons__number {
  margin: 0;
  margin-top: 10px;
}
.reasons__text {
  margin: 0;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .reasons__text {
    margin-top: 25px;
  }
}
.image {
  vertical-align: middle;
}
.search {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  background-color: #FFFFFF;
}
.search__container {
  box-sizing: border-box;
  width: 100%;
  padding: 40px 20px 50px;
}
@media (min-width: 768px) {
  .search__container {
    width: 500px;
    margin: 0 auto;
    padding: 60px 0;
  }
}
.search__subtitle {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .search__subtitle {
    font-size: 30px;
  }
}
.search__description {
  margin: 0;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .search__description {
    margin-top: 25px;
  }
}
.search__description br {
  display: none;
}
@media (min-width: 768px) {
  .search__description br {
    display: block;
  }
}
.search__button {
  box-sizing: border-box;
  display: inline-block;
  padding: 16px 12px;
  border: 0;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #81B3D2;
  width: 100%;
  margin-top: 30px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.search__button:hover {
  background-color: #669EC0;
}
.search__button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496BD;
}
.search__button:disabled {
  background-color: #E5E5E5;
}
@media (min-width: 768px) {
  .search__button {
    margin-top: 40px;
  }
}
.main-footer {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFFFFF;
}
.main-footer__container {
  padding: 40px 0 30px;
}
@media (min-width: 768px) {
  .main-footer__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.main-footer__social {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .main-footer__social {
    margin: 0;
  }
}
.main-footer__copyright {
  margin-top: 35px;
}
@media (min-width: 768px) {
  .main-footer__copyright {
    margin: 0;
  }
}
.main-footer__tag-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.main-footer__tag-link:hover {
  color: #81B3D2;
}
.main-footer__tag-link:active {
  color: #B3B3B3;
}
.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.copyright__link:hover {
  color: #81B3D2;
}
.copyright__link:active {
  color: #B3B3B3;
}
.social__list {
  display: flex;
  column-gap: 6px;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
.social__item {
  width: 48px;
  height: 48px;
}
.social__link {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  padding: 16px 12px;
  border: 0;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #81B3D2;
  width: 48px;
  height: 48px;
  padding: 0;
}
.social__link:hover {
  background-color: #669EC0;
}
.social__link:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496BD;
}
.social__link:disabled {
  background-color: #E5E5E5;
}
.social__link:focus svg {
  fill: rgba(255, 255, 255, 0.2);
}
.social__link svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #FFFFFF;
}
.review {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}
.review__form {
  display: flex;
  flex-wrap: wrap;
}
.review__group {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
}
.review__group::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #D6D6D6;
  content: "";
}
@media (min-width: 768px) {
  .review__group::before {
    display: none;
  }
  .review__group--user-data {
    flex: 1 1 50%;
  }
  .review__group--user-data:first-child {
    border-right: 2px solid #DBDBDB;
  }
}
.review__container {
  padding: 25px 20px 35px;
}
@media (min-width: 768px) {
  .review__container {
    padding: 25px 60px 40px;
  }
}
@media (min-width: 1200px) {
  .review__container {
    padding: 25px 120px 40px;
  }
}
.review__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 15px;
}
.review__title {
  position: relative;
  max-width: 280px;
  margin: 0 auto;
  z-index: 1;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: #FFFFFF;
}
.review__line {
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .review__line::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 25%;
    height: 2px;
    background-color: #DBDBDB;
    content: "";
  }
  .review__line::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 25%;
    height: 2px;
    background-color: #DBDBDB;
    content: "";
  }
}
.review__textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: 768px;
  min-height: 150px;
  margin: 20px auto 0;
  padding: 20px;
  border: 0;
  resize: none;
  outline: none;
  cursor: text;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
  background-color: #F2F2F2;
}
.review__textarea:hover {
  background-color: #E5E5E5;
}
.review__textarea:focus {
  border: 4px #E5E5E5 solid;
  padding: 16px;
  background-color: #FFFFFF;
}
.review__submit {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
  margin: 20px auto 10px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .review__submit {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 60px;
    padding: 0 60px;
  }
}
.review__button {
  box-sizing: border-box;
  display: inline-block;
  padding: 16px 12px;
  border: 0;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #81B3D2;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.review__button:hover {
  background-color: #669EC0;
}
.review__button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496BD;
}
.review__button:disabled {
  background-color: #E5E5E5;
}
@media (min-width: 768px) {
  .review__button {
    flex: 1 1 50%;
  }
}
.review__note {
  display: block;
  text-align: right;
  font-size: 12px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .review__note {
    flex: 1 1 50%;
    font-size: 14px;
  }
}
.user-info {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.user-info__label {
  margin-left: 15px;
  text-transform: uppercase;
}
.user-info__item {
  position: relative;
}
.user-info__input {
  box-sizing: border-box;
  display: block;
  padding: 20px;
  width: 100%;
  height: 58px;
  border: 0;
  font: bold 18px/26px "PT Sans", sans-serif;
  outline: none;
  cursor: text;
  background-color: #F2F2F2;
}
.user-info__input--icon {
  padding-right: 76px;
}
.user-info__input:hover {
  background-color: #E5E5E5;
}
.user-info__input:hover::placeholder {
  color: #000000;
}
.user-info__input:focus {
  border: 4px #E5E5E5 solid;
  padding: 16px;
  background-color: #FFFFFF;
}
.user-info__icon {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  height: 58px;
  width: 58px;
  background-color: #E6E6E6;
}
.user-info__icon svg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  fill: #000000;
}
.checkbox {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 30px;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .checkbox {
    justify-content: flex-start;
    padding: 0 85px;
  }
}
@media (min-width: 1200px) {
  .checkbox {
    padding: 0 40px;
  }
}
.checkbox__item {
  flex: 1 1 170px;
}
.checkbox__button {
  display: flex;
  column-gap: 15px;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}
.checkbox__button::before {
  position: relative;
  align-self: flex-start;
  flex-shrink: 0;
  left: 0;
  top: 0;
  width: 46px;
  height: 46px;
  background-color: #F2F2F2;
  content: "";
}
.checkbox__button::after {
  position: absolute;
  top: 15px;
  left: 12px;
  width: 22px;
  height: 16px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: none;
}
.checkbox__button:hover::before {
  background-color: #E5E5E5;
}
.checkbox__button:active::before {
  background-color: #D5D5D5;
}
.checkbox__button:active::after {
  opacity: 0.3;
  display: block;
}
.checkbox__input:checked ~ .checkbox__button::after {
  display: block;
}
.radio {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 30px;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .radio {
    padding: 0 35px;
  }
}
.radio__item {
  flex: 1 1 250px;
}
.radio__button {
  display: flex;
  column-gap: 15px;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}
.radio__button::before {
  position: relative;
  align-self: flex-start;
  flex-shrink: 0;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #F2F2F2;
  content: "";
}
.radio__button::after {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 15px;
  left: 16px;
  background-image: url("../img/point.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: none;
}
.radio__button:hover::before {
  background-color: #E5E5E5;
}
.radio__button:active::before {
  background-color: #D5D5D5;
}
.radio__button:active::after {
  opacity: 0.3;
  display: block;
}
.radio__input:checked ~ .radio__button::after {
  display: block;
}
.catalog {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  .catalog__container {
    padding: 35px 60px;
  }
}
@media (min-width: 1200px) {
  .catalog__container {
    padding: 0;
    padding-top: 45px;
  }
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .catalog__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.catalog__item {
  padding: 25px 0;
}
@media (min-width: 768px) {
  .catalog__item {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .catalog__item--top {
    grid-column: span 2;
  }
}
@media (min-width: 1200px) {
  .catalog__item--top {
    grid-column: span 3;
  }
}
.card {
  position: relative;
  text-align: left;
}
.card::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-width: 320px;
  height: 1px;
  background-color: #D6D6D6;
  content: "";
}
@media (min-width: 768px) {
  .card::before {
    display: none;
  }
}
.card__container {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .card__container {
    padding: 0;
  }
}
.card__link {
  display: block;
  width: 100%;
  height: 280px;
  background-color: #AF9c4B;
  object-position: bottom;
}
@media (min-width: 768px) {
  .card__link {
    height: 267px;
  }
}
@media (min-width: 768px) {
  .card__link--top {
    height: 400px;
  }
}
.card__link img {
  vertical-align: middle;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
}
.card__footer {
  box-sizing: border-box;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px 20px;
    background-color: #F2F2F2;
  }
}
@media (min-width: 1200px) {
  .card__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.card__title {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
}
.card__author {
  margin: 0;
  margin-top: 5px;
}
.card__reaction {
  display: flex;
  align-items: baseline;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .card__reaction {
    margin: 0;
  }
}
.card__button {
  display: block;
  width: 23px;
  height: 21px;
  margin-right: 10px;
}
.card__button svg {
  fill: #b3b3b3;
}
@media (min-width: 1200px) {
  .card__button svg {
    fill: #FFFFFF;
  }
}
.card__likes {
  margin: 0;
  font-weight: 700;
}
.video {
  position: relative;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}
.video::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-width: 320px;
  height: 1px;
  background-color: #D6D6D6;
  content: "";
}
@media (min-width: 768px) {
  .video::before {
    display: none;
  }
}
.video__container {
  box-sizing: border-box;
  padding: 25px 20px 0;
  text-align: center;
}
@media (min-width: 768px) {
  .video__container {
    padding: 35px 60px;
  }
}
@media (min-width: 1200px) {
  .video__container {
    padding: 80px 200px;
  }
}
.video__title {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .video__title {
    font-size: 30px;
  }
}
.video__description {
  margin: 35px 20px 0;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .video__description {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media (min-width: 1200px) {
  .video__description {
    margin-left: 175px;
    margin-right: 175px;
  }
}
.video__image {
  width: 100%;
  height: auto;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .video__image {
    margin-top: 85px;
  }
}
.video__image img {
  vertical-align: middle;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal--error {
  display: none;
}
.modal--success {
  display: none;
}
.modal__container {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 400px;
  margin: 50px auto;
  background-color: #FFFFFF;
}
.modal__container--success {
  max-width: 640px;
}
.modal__top {
  padding: 45px 45px 14px;
}
.modal__top--success {
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .modal__top {
    padding-top: 50px;
  }
  .modal__top--success {
    padding: 50px 110px;
  }
}
.modal__bottom {
  padding: 14px 70px 35px;
}
.modal__bottom--success {
  padding: 20px;
  background-color: #F2F2F2;
}
@media (min-width: 768px) {
  .modal__bottom {
    padding-left: 60px;
    padding-right: 60px;
  }
  .modal__bottom--success {
    padding: 45px 90px;
  }
}
.modal__title {
  margin: 0;
  font-size: 18px;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .modal__title {
    font-size: 30px;
  }
}
.modal__text {
  margin: 0;
  margin-top: 25px;
}
.modal__button {
  box-sizing: border-box;
  display: inline-block;
  padding: 16px 12px;
  border: 0;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #81B3D2;
  width: 100%;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
}
.modal__button:hover {
  background-color: #669EC0;
}
.modal__button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496BD;
}
.modal__button:disabled {
  background-color: #E5E5E5;
}
.main-header {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  background-color: #FFFFFF;
}
.main-header__container {
  position: relative;
  box-sizing: border-box;
  padding: 30px 20px 35px;
}
@media (min-width: 768px) {
  .main-header__container {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .main-header__container {
    padding-top: 60px;
    padding-bottom: 35px;
  }
}
.main-header__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .main-header__title {
    font-size: 21px;
  }
}
@media (min-width: 768px) {
  .main-header__title br {
    display: none;
  }
}
.main-header__text {
  margin: 0;
  margin-top: 35px;
}
@media (min-width: 768px) {
  .main-header__text {
    margin-top: 30px;
  }
}
.main-header__text br {
  display: none;
}
@media (min-width: 768px) {
  .main-header__text br {
    display: block;
  }
}
.navigation {
  position: relative;
  background-color: #FFFFFF;
}
.navigation__toggle {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 23px;
  height: 23px;
  z-index: 500;
  padding: 0;
  border: 0;
  background-image: url("../img/icon-menu.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.navigation__toggle--active {
  background-color: #81B3D2;
  background-image: url("../img/icon-cross.svg");
}
@media (min-width: 768px) {
  .navigation__toggle {
    display: none;
  }
}
.navigation__list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .navigation__list {
    flex-direction: row;
    justify-content: space-between;
  }
}
.navigation__list--closed {
  display: none;
}
.navigation__item {
  box-sizing: border-box;
  height: 55px;
  z-index: 2;
  text-align: center;
}
@media (min-width: 768px) {
  .navigation__item {
    flex: 1 1 153px;
    border: 0;
    z-index: 1;
  }
  .navigation__item:nth-child(2) {
    margin-right: 153px;
  }
}
.navigation__link {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #81B3D2;
}
.navigation__link:hover {
  background-color: #669EC0;
}
.navigation__link:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496BD;
}
.navigation__link:disabled {
  background-color: #E5E5E5;
}
.navigation__link--active {
  color: #000000;
}
@media (min-width: 768px) {
  .navigation__link {
    font-size: 14px;
    line-height: 1.4;
    padding: 18px 0;
    color: #000000;
    background-color: #FFFFFF;
  }
  .navigation__link:hover {
    color: #81B3D2;
    background-color: #FFFFFF;
  }
  .navigation__link:focus {
    color: #B3B3B3;
  }
  .navigation__link--active {
    color: #766357;
  }
}
.map {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}
.map__image {
  width: 100%;
  height: 350px;
  background-color: #7EC798;
}
.map__image img {
  vertical-align: middle;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.map__image iframe {
  width: 100%;
  height: 100%;
  border: 0;
  object-fit: cover;
}
/*# sourceMappingURL=style.css.map */
