@bg-button: #81B3D2;
@bg-button-hover: #669EC0;
@bg-button-active: #5496BD;
@bg-button-disabled: #E5E5E5;

@bg-input: #F2F2F2;
@bg-input-hover: #E5E5E5;
@bg-input-active: #FFFFFF;
@bordet-input-active: #E5E5E5;

@bg-control: #F2F2F2;
@bg-control-hover: #E5E5E5;
@bg-control-active: #D5D5D5;

@text-copyright: #000000;
@text-copyright-hover: #81B3D2;
@text-copyright-active: #B3B3B3;

@bg-white: #FFFFFF;
@bg-blue: #81B3D2;

@bg-light: #EEEEEE;
@bg-grey: #F2F2F2;

@bg-dark-grey: #E6E6E6;

@bg-green: #7EC798;
@bg-brown: #FFA06B;

@text-white: #FFFFFF;
@text-black: #000000;
@text-grey: #333333;

@border-light: #D6D6D6;
@border-grey: #B7B4B4;

@phone_width: 320px;
@tablet-width: 768px;
@desktop-width: 1200px;
